.form {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.bookauthor,
.booktitle,
.bookcategory {
  font-size: 20px;
  padding: 5px;
  border: 0 solid lightgrey;
  border-radius: 10px;
}

.new {
  color: #a09b9b;
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.add-btn {
  width: 10%;
  padding: 0.5rem;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(4, 125, 247, 0.915);
  border: none;
  cursor: pointer;
}

.add-btn:hover {
  background-color: rgba(3, 97, 192, 0.915);
  font-size: 20px;
}
