@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.app {
  box-shadow: 0 4px 8px 0 rgba(248, 246, 246, 0.877),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* padding: 10px; */
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgb(239, 234, 234);
}

.item {
  text-transform: uppercase;
}

.nav {
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: left;
  background-color: #fff;
  align-items: baseline;
}

.header {
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #0290ff;
}

.nav ul {
  list-style: none;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.nav-link {
  margin-inline: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.navLink:hover {
  color: rgba(0, 128, 255, 0.915);
}

.nav-item {
  margin-left: 15rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  color: #0290ff;
}
