body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  text-align: center;
  font-size: 30px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.form {
  margin: 20px;
}

.input {
  margin-inline: 10px;
}

.input-title {
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.author {
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-inline: 10px;
  padding: 8px 16px;
}

.category {
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.book-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10rem;
  margin-left: 3rem;
}

.category1 {
  border: none;
  font-weight: normal;
}

.author1 {
  border: none;
  font-weight: normal;
}

.booktitle {
  font-size: 18px;
  font-weight: normal;
}

.button-remove {
  border: none;
  background-color: rgb(213, 205, 205);
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}
